In [1]:
import numpy as np
import pandas as pd

In [2]:

# Sample data, replace this with your actual DataFrame
data = {'age': ["Young","Young","Middle","Old","Old","Old","Middle","Young","Young","Old","Young","Middle","Middle","Old"],
        'class': [0,0,1,1,1,0,1,0,1,1,1,1,1,0]}

df = pd.DataFrame(data)

In [3]:
df['age'].value_counts().reset_index()

      age  count
0   Young      5
1     Old      5
2  Middle      4

In [4]:
# Step 1: Create a frequency table for the attribute "age"
age_freq_table = df['age'].value_counts().reset_index()
age_freq_table.columns = ['age', 'frequency']

In [5]:
# Step 2: Calculate information gain
total_entropy = -(df['class'].value_counts(normalize=True) * np.log2(df['class'].value_counts(normalize=True))).sum()

In [6]:
# Function to calculate entropy
def calculate_entropy(data):
    entropy = -(data['class'].value_counts(normalize=True) * np.log2(data['class'].value_counts(normalize=True))).sum() * (len(data) / len(df))
    return entropy

In [7]:
# Calculate information gain for each age group
age_freq_table['information_gain'] = age_freq_table['age'].apply(lambda x: total_entropy - calculate_entropy(df[df['age'] == x]))

In [8]:
# Display the frequency table and information gain
print("Frequency Table for Age:")
print(age_freq_table)

Frequency Table for Age:
      age  frequency  information_gain
0   Young          5          0.593518
1     Old          5          0.593518
2  Middle          4          0.940286

In [9]:
# Optional: If you want to find the age with the highest information gain
max_info_gain_age = age_freq_table.loc[age_freq_table['information_gain'].idxmax(), 'age']
print("\nAge with Maximum Information Gain:", max_info_gain_age)

Age with Maximum Information Gain: Middle