In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\Prajwal Mahajan\\Downloads\\churn 20.csv")

In [27]:
new = df.select_dtypes(exclude="object")
print(new)

     Account length  Area code  Number vmail messages  Total day minutes  \
0               117        408                      0              184.5
1                65        415                      0              129.1
2               161        415                      0              332.9
3               111        415                      0              110.4
4                49        510                      0              119.3
..              ...        ...                    ...                ...
662             114        415                     26              137.1
663             106        408                     29               83.6
664              60        415                      0              193.9
665             159        415                      0              169.8
666             184        510                      0              213.8

     Total day calls  Total day charge  Total eve minutes  Total eve calls  \
0                 97             31.37              351.6               80
1                137             21.95              228.5               83
2                 67             56.59              317.8               97
3                103             18.77              137.3              102
4                117             20.28              215.1              109
..               ...               ...                ...              ...
662               88             23.31              155.7              125
663              131             14.21              203.9              131
664              118             32.96               85.0              110
665              114             28.87              197.7              105
666              105             36.35              159.6               84

     Total eve charge  Total night minutes  Total night calls  \
0               29.89                215.8                 90
1               19.42                208.8                111
2               27.01                160.6                128
3               11.67                189.6                105
4               18.28                178.7                 90
..                ...                  ...                ...
662             13.23                247.6                 94
663             17.33                229.5                 73
664              7.23                210.1                134
665             16.80                193.7                 82
666             13.57                139.2                137

     Total night charge  Total intl minutes  Total intl calls  \
0                  9.71                 8.7                 4
1                  9.40                12.7                 6
2                  7.23                 5.4                 9
3                  8.53                 7.7                 6
4                  8.04                11.1                 1
..                  ...                 ...               ...
662               11.14                11.5                 7
663               10.33                 8.1                 3
664                9.45                13.2                 8
665                8.72                11.6                 4
666                6.26                 5.0                10

     Total intl charge  Customer service calls  Churn
0                 2.35                       1  False
1                 3.43                       4   True
2                 1.46                       4   True
3                 2.08                       2  False
4                 3.00                       1  False
..                 ...                     ...    ...
662               3.11                       2  False
663               2.19                       1  False
664               3.56                       3  False
665               3.13                       1  False
666               1.35                       2  False

[667 rows x 17 columns]

In [7]:
df.size()

TypeError: 'int' object is not callable

In [8]:
new.size

11339

In [9]:
new.ndim

2

In [10]:
new.shape

(667, 17)

In [11]:
new.min()

Account length                1
Area code                   408
Number vmail messages         0
Total day minutes          25.9
Total day calls              30
Total day charge            4.4
Total eve minutes          48.1
Total eve calls              37
Total eve charge           4.09
Total night minutes        23.2
Total night calls            42
Total night charge         1.04
Total intl minutes          0.0
Total intl calls              0
Total intl charge           0.0
Customer service calls        0
Churn                     False
dtype: object

In [12]:
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000
mean,102.841079,436.157421,8.407796,180.948126,100.937031,30.761769,203.355322,100.476762,17.285262,199.685307,100.113943,8.985907,10.238381,4.527736,2.764948,1.563718
std,40.819480,41.783305,13.994480,55.508628,20.396790,9.436463,49.719268,18.948262,4.226160,49.759931,20.172505,2.239429,2.807850,2.482442,0.758167,1.333357
min,1.000000,408.000000,0.000000,25.900000,30.000000,4.400000,48.100000,37.000000,4.090000,23.200000,42.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,76.000000,408.000000,0.000000,146.250000,87.500000,24.860000,171.050000,88.000000,14.540000,167.950000,86.000000,7.560000,8.600000,3.000000,2.320000,1.000000
50%,102.000000,415.000000,0.000000,178.300000,101.000000,30.310000,203.700000,101.000000,17.310000,201.600000,100.000000,9.070000,10.500000,4.000000,2.840000,1.000000
75%,128.000000,415.000000,20.000000,220.700000,115.000000,37.520000,236.450000,113.000000,20.095000,231.500000,113.500000,10.420000,12.050000,6.000000,3.255000,2.000000
max,232.000000,510.000000,51.000000,334.300000,165.000000,56.830000,361.800000,168.000000,30.750000,367.700000,175.000000,16.550000,18.300000,18.000000,4.940000,8.000000

In [13]:
new.mean()

Account length    102.841079
Area code         436.157421
dtype: float64

In [14]:
new.median()

Account length    102.0
Area code         415.0
dtype: float64

In [15]:
new.min()

Account length      1
Area code         408
dtype: int64

In [16]:
new.max()

Account length    232
Area code         510
dtype: int64

In [17]:
new.min()

1

In [18]:
new.std()

Account length    40.819480
Area code         41.783305
dtype: float64

In [21]:
var()

Account length            1666.229962
Area code                 1745.844551
Number vmail messages      195.845465
Total day minutes         3081.207755
Total day calls            416.029062
Total day charge            89.046843
Total eve minutes         2472.005659
Total eve calls            359.036621
Total eve charge            17.860429
Total night minutes       2476.050715
Total night calls          406.929940
Total night charge           5.015042
Total intl minutes           7.884020
Total intl calls             6.162518
Total intl charge            0.574817
Customer service calls       1.777841
Churn                        0.122326
dtype: float64

In [29]:
n = new.select_dtypes(exclude="boolean")
n.quantile()

Account length            102.00
Area code                 415.00
Number vmail messages       0.00
Total day minutes         178.30
Total day calls           101.00
Total day charge           30.31
Total eve minutes         203.70
Total eve calls           101.00
Total eve charge           17.31
Total night minutes       201.60
Total night calls         100.00
Total night charge          9.07
Total intl minutes         10.50
Total intl calls            4.00
Total intl charge           2.84
Customer service calls      1.00
Name: 0.5, dtype: float64