In [10]:
import sklearn
import pandas as pd

In [11]:
df = pd.read_csv("C:\\Users\\Prajwal Mahajan\\Downloads\\Datasets\\Lipstick.csv")

In [13]:
df.head()

   Id    Age  Income  Gender       Ms Buys
0   1    <21    High    Male   Single   No
1   2    <21    High    Male  Married   No
2   3  21-35    High    Male   Single  Yes
3   4    >35  Medium    Male   Single  Yes
4   5    >35     Low  Female   Single  Yes

In [15]:
df["Age"] = df["Age"].astype("category").cat.codes
df["Income"] = df["Income"].astype("category").cat.codes
df["Gender"] = df["Gender"].astype("category").cat.codes
df["Ms"] = df["Ms"].astype("category").cat.codes

In [16]:
df.head()

   Id  Age  Income  Gender  Ms Buys
0   1    1       0       1   1   No
1   2    1       0       1   0   No
2   3    0       0       1   1  Yes
3   4    2       2       1   1  Yes
4   5    2       1       0   1  Yes

In [23]:
from sklearn.tree import DecisionTreeClassifier
feature = df[["Age", "Income", "Gender","Ms"]]
target= df["Buys"]

feature_names = ["Age", "Income", "Gender","Ms"]

clf = DecisionTreeClassifier(random_state=42)
clf.fit(feature,target)

print("Root node is: ", feature_names[clf.tree_.feature[0]])
test_data=[[1,1,0,0]]
print(clf.predict(test_data))

Root node is:  Age
['Yes']

C:\Users\Prajwal Mahajan\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(