In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\Prajwal Mahajan\\Downloads\\Datasets\\Covid Vaccine Statewise.csv")

In [3]:
df.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0

In [4]:
df.dtypes

Updated On                              object
State                                   object
Total Doses Administered               float64
Sessions                               float64
 Sites                                 float64
First Dose Administered                float64
Second Dose Administered               float64
Male (Doses Administered)              float64
Female (Doses Administered)            float64
Transgender (Doses Administered)       float64
 Covaxin (Doses Administered)          float64
CoviShield (Doses Administered)        float64
Sputnik V (Doses Administered)         float64
AEFI                                   float64
18-44 Years (Doses Administered)       float64
45-60 Years (Doses Administered)       float64
60+ Years (Doses Administered)         float64
18-44 Years(Individuals Vaccinated)    float64
45-60 Years(Individuals Vaccinated)    float64
60+ Years(Individuals Vaccinated)      float64
Male(Individuals Vaccinated)           float64
Female(Individuals Vaccinated)         float64
Transgender(Individuals Vaccinated)    float64
Total Individuals Vaccinated           float64
dtype: object

In [7]:
df.nunique()

Updated On                              213
State                                    37
Total Doses Administered               7376
Sessions                               6464
 Sites                                 3044
First Dose Administered                7367
Second Dose Administered               6275
Male (Doses Administered)              7170
Female (Doses Administered)            7155
Transgender (Doses Administered)       2117
 Covaxin (Doses Administered)          4353
CoviShield (Doses Administered)        7375
Sputnik V (Doses Administered)         1040
AEFI                                   1548
18-44 Years (Doses Administered)       1694
45-60 Years (Doses Administered)       1693
60+ Years (Doses Administered)         1692
18-44 Years(Individuals Vaccinated)    3696
45-60 Years(Individuals Vaccinated)    3700
60+ Years(Individuals Vaccinated)      3684
Male(Individuals Vaccinated)            159
Female(Individuals Vaccinated)          159
Transgender(Individuals Vaccinated)     156
Total Individuals Vaccinated           5676
dtype: int64

In [11]:
print(df[["State", "First Dose Administered"]])

            State  First Dose Administered
0           India                  48276.0
1           India                  58604.0
2           India                  99449.0
3           India                 195525.0
4           India                 251280.0
...           ...                      ...
7840  West Bengal                      NaN
7841  West Bengal                      NaN
7842  West Bengal                      NaN
7843  West Bengal                      NaN
7844  West Bengal                      NaN

[7845 rows x 2 columns]

In [12]:
df["State"].unique()

array(['India', 'Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
       'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [15]:
df["First Dose Administered"] = df["First Dose Administered"].astype("int64")
df["Second Dose Administered"] = df["Second Dose Administered"].astype("int64")
df["Total Doses Administered"] = df["Total Doses Administered"].astype("int64")

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [16]:
df.fillna(0, inplace=True)

In [18]:
df.isna().sum()

Updated On                             0
State                                  0
Total Doses Administered               0
Sessions                               0
 Sites                                 0
First Dose Administered                0
Second Dose Administered               0
Male (Doses Administered)              0
Female (Doses Administered)            0
Transgender (Doses Administered)       0
 Covaxin (Doses Administered)          0
CoviShield (Doses Administered)        0
Sputnik V (Doses Administered)         0
AEFI                                   0
18-44 Years (Doses Administered)       0
45-60 Years (Doses Administered)       0
60+ Years (Doses Administered)         0
18-44 Years(Individuals Vaccinated)    0
45-60 Years(Individuals Vaccinated)    0
60+ Years(Individuals Vaccinated)      0
Male(Individuals Vaccinated)           0
Female(Individuals Vaccinated)         0
Transgender(Individuals Vaccinated)    0
Total Individuals Vaccinated           0
dtype: int64

In [24]:
dict = {}
for i in df["State"].unique():
    dict[i] = 0;
for j in range(df.shape[0]):
    dict[df["State"].iloc[j]] += df["First Dose Administered"].iloc[j]
print(dict)

{'India': 28262144791.0, 'Andaman and Nicobar Islands': 16425854.0, 'Andhra Pradesh': 1232860845.0, 'Arunachal Pradesh': 49004980.0, 'Assam': 585600226.0, 'Bihar': 1470502878.0, 'Chandigarh': 44703105.0, 'Chhattisgarh': 796002902.0, 'Dadra and Nagar Haveli and Daman and Diu': 33595063.0, 'Delhi': 624339473.0, 'Goa': 75991368.0, 'Gujarat': 2131646009.0, 'Haryana': 755798352.0, 'Himachal Pradesh': 316294004.0, 'Jammu and Kashmir': 410101777.0, 'Jharkhand': 603673726.0, 'Karnataka': 1873329968.0, 'Kerala': 1193845072.0, 'Ladakh': 17809249.0, 'Lakshadweep': 4363655.0, 'Madhya Pradesh': 1796604591.0, 'Maharashtra': 2784364331.0, 'Manipur': 67409568.0, 'Meghalaya': 62615974.0, 'Mizoram': 47873077.0, 'Nagaland': 42410766.0, 'Odisha': 1032633168.0, 'Puducherry': 41346858.0, 'Punjab': 584346582.0, 'Rajasthan': 2201044187.0, 'Sikkim': 36980929.0, 'Tamil Nadu': 1288532512.0, 'Telangana': 880320645.0, 'Tripura': 192689726.0, 'Uttar Pradesh': 2788411358.0, 'Uttarakhand': 363191446.0, 'West Bengal': 1796449989.0}

In [23]:
dict1 = {}
for i in df["State"].unique():
    dict1[i] = 0;
for j in range(df.shape[0]):
    dict1[df["State"].iloc[j]] += df["Second Dose Administered"].iloc[j]
print(dict1)

{'India': 6759621451.0, 'Andaman and Nicobar Islands': 4118554.0, 'Andhra Pradesh': 358817595.0, 'Arunachal Pradesh': 11932317.0, 'Assam': 130788792.0, 'Bihar': 270790571.0, 'Chandigarh': 11593735.0, 'Chhattisgarh': 172120400.0, 'Dadra and Nagar Haveli and Daman and Diu': 4594416.0, 'Delhi': 188218946.0, 'Goa': 16198174.0, 'Gujarat': 600418376.0, 'Haryana': 158656058.0, 'Himachal Pradesh': 73838582.0, 'Jammu and Kashmir': 85951651.0, 'Jharkhand': 122121060.0, 'Karnataka': 427187178.0, 'Kerala': 364048753.0, 'Ladakh': 5453762.0, 'Lakshadweep': 1056446.0, 'Madhya Pradesh': 316932957.0, 'Maharashtra': 712881086.0, 'Manipur': 11858150.0, 'Meghalaya': 12166633.0, 'Mizoram': 9998418.0, 'Nagaland': 9204637.0, 'Odisha': 251302794.0, 'Puducherry': 8608859.0, 'Punjab': 121120995.0, 'Rajasthan': 491702988.0, 'Sikkim': 9723640.0, 'Tamil Nadu': 290670622.0, 'Telangana': 198152946.0, 'Tripura': 65270138.0, 'Uttar Pradesh': 554435112.0, 'Uttarakhand': 100085040.0, 'West Bengal': 586146880.0}

In [25]:
dict2 = {}
for i in df["State"].unique():
    dict2[i] = 0;
for j in range(df.shape[0]):
    dict2[df["State"].iloc[j]] += df["Total Doses Administered"].iloc[j]
print(dict2)

{'India': 35021766242.0, 'Andaman and Nicobar Islands': 20544408.0, 'Andhra Pradesh': 1591678440.0, 'Arunachal Pradesh': 60937297.0, 'Assam': 716389018.0, 'Bihar': 1741293449.0, 'Chandigarh': 56296840.0, 'Chhattisgarh': 968123302.0, 'Dadra and Nagar Haveli and Daman and Diu': 38189479.0, 'Delhi': 812558419.0, 'Goa': 92189542.0, 'Gujarat': 2732064385.0, 'Haryana': 914454410.0, 'Himachal Pradesh': 390132586.0, 'Jammu and Kashmir': 496053428.0, 'Jharkhand': 725794786.0, 'Karnataka': 2300517146.0, 'Kerala': 1557893825.0, 'Ladakh': 23263011.0, 'Lakshadweep': 5420101.0, 'Madhya Pradesh': 2113537548.0, 'Maharashtra': 3497245417.0, 'Manipur': 79267718.0, 'Meghalaya': 74782607.0, 'Mizoram': 57871495.0, 'Nagaland': 51615403.0, 'Odisha': 1283935962.0, 'Puducherry': 49955717.0, 'Punjab': 705467577.0, 'Rajasthan': 2692747175.0, 'Sikkim': 46704569.0, 'Tamil Nadu': 1579203134.0, 'Telangana': 1078473591.0, 'Tripura': 257959864.0, 'Uttar Pradesh': 3342846470.0, 'Uttarakhand': 463276486.0, 'West Bengal': 2382596869.0}