In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:\\Users\\Prajwal Mahajan\\Downloads\\Datasets\\23.csv")

In [4]:
df.head()

      Age  Income Married Health Class
0   Young    High      No   Fair    No
1   Young    High      No   Good    No
2  Middle    High      No   Fair   Yes
3     Old  Medium      No   Fair   Yes
4     Old     Low     Yes   Fair   Yes

In [16]:
y = 0
y1=0
m=0
m1=0
o=0
o1=0
dfy = df[df["Class"]=="Yes"]
dfn = df[df["Class"]=="No"]
for age in dfy["Age"]:
    if(age == "Young"):
        y+=1
    elif(age == "Middle"):
        m+=1
    else:
        o+=1

for age in dfn["Age"]:
    if(age == "Young"):
        y1+=1
    elif(age == "Middle"):
        m1+=1
    else:
        o1+=1

2 4 3

In [18]:
data = [["Young",y,y1,y+y1],["Middle",m,m1,m+m1],["Old",o,o1,o+o1]]
d = pd.DataFrame(data, columns=["Age","Yes","No","Total"])
d

      Age  Yes  No  Total
0   Young    2   3      5
1  Middle    4   0      4
2     Old    3   2      5